.search-box {
    position: absolute;
    top: 25px;
    width: 100%;
    padding: 0 10px;

    .search {
      flex: 1;
      height: 34px;
      margin: 0 10px;
      padding: 5px 5px 5px 8px;
      border-radius: 3px;
      background-color: #fff;
      
      .location {
        &:hover {
            cursor: pointer;
          }
        .icon-xialajiantou {
          margin-left: 2px;
          font-size: 12px;
          color: #7f7f80;
        }
      }
      .form {
        border-left: solid 1px #e5e5e5;
        margin-left: 12px;
        line-height: 16px;
        .icon-sousuo {
          vertical-align: middle;
          padding: 0 2px 0 12px;
          color: #9c9fa1;
          font-size: 15px;
        }
        input {
          width: 180px;
          height: 30px;
          margin-left: 4px;
          padding-left: 4px;
          border: none;
          color: #9c9fa1;
        }
      }
    }
    .icon-ditu {
      font-size: 30px;
      font-weight: 1000;
      color: #fff;
    }
  }